body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url('path/to/your/image.jpg'); 
    background-size: cover; 
    background-position: center; 
    color: #333; 
}

.profil_kanan {
    text-align: center; 
    margin-bottom: 20px; 
}

.profil_kanan img {
    width: 200px;
    height: auto;
    border-radius: 20px; 
    border: 5px solid pink; 
    display: inline-block; 
    margin-bottom: 10px; 
}

.profil_kanan p {
    margin: 0; 
}

#Profil Blackpink p {
    padding: 0 20px; /* Tambahkan padding horizontal */
    margin-bottom: 20px;
}

.link_detail {
    text-align: center;
    margin-top: 20px;
}

.link_detail ul {
    list-style-type: none;
    padding: 0;
}

.link_detail ul li {
    display: inline;
    margin-right: 10px;
}

.link_detail ul li a {
    text-decoration: none;
    color: black;
}

.link_detail ul li a:hover {
    color: pink;
}

#biografi,
#sejarah,
#album,
#prestasi {
    margin-top: 20px;
}

#biografi p,
#sejarah p {
    margin-bottom: 15px;
}

.anggota {
    margin-bottom: 30px;
    display: flex;
}


.profil {
    margin-right: 20px;
    flex: 0 0 auto; 
}

.profil img {
    width: 150px;
    height: auto;
    border-radius: 50%; 
    border: 5px solid pink; 
}

.detail {
    flex: 1;
}

.detail p {
    margin: 0 0 10px;
    padding: 10px; 
    border: 1px solid pink; 
    border-radius: 10px;
}

.detail p:last-child {
    margin-bottom: 0;
}

#biografi p {
    border: 1px solid pink;
    border-radius: 10px; 
    padding: 10px; 
}

#sejarah p {
    padding: 0 20px; /* Tambahkan padding horizontal */
    margin-bottom: 20px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    border: 1px solid black;
}

th {
    background-color: pink;
    color: black;
}
